
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700&display=swap');

:root{
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black); 
    --color-price: #f13838;
}

*{
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background: #eee;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    cursor: pointer;
    color: var(--black);
    background: none;
}
.btn:hover{
    background: var(--orange);
    color: #fff;
}
/* Header */
.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .logo i{
    color: var(--orange);
}
.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}
.header .navbar a:hover{
    color: var(--orange);
}
.header .icons div {
    font-size: 2rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    margin-right: .3rem;
    text-align: center;
}
.header .icons div:hover{
    background: var(--orange);
    cursor: pointer;
    color: #fff;
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 110%;
    right: -110%;
    height: 5rem;
    width: 40rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
/* JS cho phần search */
.header .search-form.active{
    right: 2rem;
    transition: .4s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    background: none;
    text-transform: none;
    padding: 0 1rem;
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--orange);
}
.shopping-cart{
    background: #fff;
    position: absolute;
    top: 110%;
    right: -110%;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
}
.shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}
.shopping-cart .box img{
    height: 10rem;
}
.shopping-cart .box .clear{
    position: absolute;
    font-size: 2rem;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}
.shopping-cart .box .clear:hover{
    color: var(--orange);
}
.shopping-cart .box .content h3{
    font-size: 1.7rem;
    color: var(--black);
    padding-bottom: 1rem;
}
.shopping-cart .box .content span{
    font-size: 1.6rem;
    color: var(--light-color);
}
.shopping-cart .box .content .quantity{
    padding-left: 1rem;
}
.shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}
.shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem;
}
/* JS cho phần giỏ hàng đã mua */
.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}
.header .form-user{
    background: #fff;
    position: absolute;
    top: 110%;
    right: -110%;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    text-align: center;
}
.header .form-user h3{
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
}
.header .form-user .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    background: #eee;
    padding: 1rem;
    color: var(--black);
    border-radius: .5rem;
    text-transform: none;
}
.header .form-user li{
    font-size: 1.4rem;
    padding: 1rem 0;
    color: var(--light-color);
}
.header .icons a {
    font-size: 2rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background: #eee;
    color: var(--black);
    margin-right: 0.3rem;
    text-align: center;
}
.header .icons a:hover{
    background: var(--orange);
    cursor: pointer;
    color: #fff;
}
.header .icons p  {
    font-size: 2rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    color: var(--black);
    margin-right: 0.3rem;
    text-align: center;
}
.header .icons p:hover{
  
    cursor: pointer;
    
}
.header .icons .img-user img{
    float: right;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
/* .header .form-user li {
    font-size: 2rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background: #eee;
    margin-right: 0.3rem;
    text-align: center;
} */
.header .form-user li a {
    color: black;
}
/* JS cho phần đăng nhập */
.header .form-user.active{
    right: 2rem;
    transition: .4s linear;
}
/* JS cho menu khi kích thước màn hình nhỏ*/
.header .navbar.active{
    right: 2rem;
    transition: .4s linear;
}
/* Phần section Home*/
section{
    padding: 2rem 9%;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/banner-1.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}
.home .content{
    text-align: center;
    width: 60rem;
}
.home .content h3{
    font-size: 3rem;
    color: var(--black);
}
.home .content h3 span{
    color: var(--orange);
}
.home .content p{
    font-size: 1.7rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 1.8;
}
.home .box-container .box .txt{
    font-size: 1.6rem;
    width: 100%;
    border-radius: .5rem;
    margin: .7rem 0;
    padding: 1rem;
    text-transform: none;
    color: var(--black);
}
.home .box-container .box span{
    font-size: 1.7rem;
    color: var(--black);
}
.home .box-container .box form select{
    font-size: large;
}
/* Phần section Features */
.heading{
    font-size: 3.5rem;
    color: var(--black);
    padding: 2rem 0;
    padding-bottom: 3rem;
    text-align: center;
}
.heading span{
    background: var(--orange);
    color: #fff;
    padding: .5rem 3rem;
    display: inline-block;
    clip-path: polygon(100% 0,93% 50%,100% 99%,0 100%,7% 50%,0 0);
}
.features .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
   gap: 1.5rem;
}
.features .box-container .box{
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    text-align: center;
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}
.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;   
}
.features .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}
.features .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;
}
.features .box-container .box .price{
    font-size: 1.8rem;
    line-height: 1.8;
    color: var(--color-price);
    padding: 1rem 0;
}
.features .box-container .box .stars{
    font-size: 1.7rem;
    color: gold;
    padding: .5rem 0;
}
/* Phần section Products */
.products .heading{
    padding-top: 0;
}
.products .product-slider{
      padding: 1rem;
}
.products .product-slider:first-child{
    margin-bottom: 2rem;
}
.products .product-slider .box{
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    text-align: center;
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    transition: .2s linear;
}
.products .product-slider .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;   
}
.products .product-slider .box img{
    height: 20rem;
}
.products .product-slider .box h3{
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;
}
.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}
.products .product-slider .box .stars{
    font-size: 1.7rem;
    color: gold;
    padding: .5rem 0;
}
/* Phần section Categories */
.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
    margin: 0 6rem;
    padding-top: 15px;
 }
 .categories .box-container .box{
    padding: 3rem 2rem;
    border-radius: .5rem;
    background: #fff;
    outline: var(--outline);
    text-align: center;
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
}
.categories .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;   
}
.categories .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}
.categories .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}
.categories .box-container .box p{
    font-size: 1.7rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}
/* Phần section Review */

.review .review-slider{
      padding: 1rem;
}
.review .review-slider .box{
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    text-align: center;
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    transition: .2s linear;
}
.review .review-slider .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;   
}
.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
.review .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}
.review .review-slider .box h3{
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;
}
.review .review-slider .box .stars{
    font-size: 1.7rem;
    color: gold;
    padding: .5rem 0;
}
/* Phần section blogs */
.blogs .heading{
    padding-top: 0;
    padding-bottom: 45px;
}
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
 }
 .blogs .box-container .box{
     overflow: hidden;
     background: #fff;
     box-shadow: var(--box-shadow);
     border-radius: .5rem;
 }
 .blogs .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.blogs .box-container .box .content{
    padding: 2rem;
}
.blogs .box-container .box .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}
.blogs .box-container .box .content a{
    color: var(--light-color);
    font-size: 1.5rem;
}
.blogs .box-container .box .content a:hover{
    color: var(--black);
}
.blogs .box-container .box .content a i{
    color: var(--orange);
    padding-right: .5rem;
}
.blogs .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;
    padding: .5rem 0;
}
.blogs .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: .5rem 0;
}
/* Phần Footer */
.footer{
    background: #fff;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
 }
 .footer .box-container .box h3{
     font-size: 2.5rem;
     color: var(--black);
     padding: 1rem 0;
 }
 .footer .box-container .box h3 i{
     color: var(--orange);
 }
 .footer .box-container .box .links{
     font-size: 1.5rem;
     display: block;
     color: var(--light-color);
     padding: 1rem 0;
     line-height: 1.8;
 }
 .footer .box-container .box a.vietthuong{
     text-transform: none;
 }
 .footer .box-container .box .links i{
    padding-right: .5rem;
    color: var(--orange);
}
.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}
 .footer .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 1.8;
}
.footer .box-container .box .share a{
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    margin-right: .2rem;
    color: var(--orange);
    background: #eee;
    text-align: center;
}
.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #eee;
}
.footer .box-container .box .email{
    font-size: 1.6rem;
    width: 100%;
    border-radius: .5rem;
    background: #eee;
    margin: .7rem 0;
    padding: 1rem;
    text-transform: none;
    color: var(--black);
}
.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
}
.footer .credit{
    padding: 1rem;
    padding-top: 2.5rem;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}
.footer .credit span{
    color: var(--orange);
}